@import "tailwindcss";

@theme {
  --color-primary: black;
  --color-secondary: #ffb84d;
  --color-yellow-gold: #ffd700;
  --color-dark-gold: #b8860b;
  --color-other-gold: #e1a345;
  --color-gray: #000000a1;
  --color-white: #ffffff;
}

.p-carousel-indicator-button {
  background-color: var(--color-primary);
}

.p-carousel-indicator-active .p-carousel-indicator-button {
  background-color: var(--color-secondary);
}

.p-carousel-indicator-button:hover {
  background-color: var(--color-secondary);
}

.p-megamenu-item:not(.p-disabled) > .p-megamenu-item-content:hover {
  color: gold;
  background-color: unset;
  font-weight: bold;
}
