@import "tailwindcss";

@theme {
  --color-primary: black;
  --color-secondary: #ffb84d;
  --color-yellow-gold: #ffd700;
  --color-dark-gold: #b8860b;
  --color-other-gold: #e1a345;
  --color-gray: #000000a1;
  --color-white: #ffffff;
}

.p-megamenu-button {
  color: #ffffff;
}

.p-button-label {
  font-weight: 900;
}

.p-button:not(:disabled):hover {
  border: none;
}

.p-carousel[data-v-031d8a61] {
  padding-top: 4rem;
}

.p-carousel-indicator-button {
  background-color: var(--color-primary);
}

.p-carousel-indicator-active .p-carousel-indicator-button {
  background: linear-gradient(90deg, #ffd700, #ffae00);
  transition: width 0.3s ease-in-out;
}

.p-carousel-indicator-button:hover {
  background: linear-gradient(90deg, #ffd700, #ffae00);
  transition: width 0.3s ease-in-out;
}

.p-megamenu-item:not(.p-disabled) > .p-megamenu-item-content:hover {
  color: gold;
  background-color: unset;
  font-weight: bold;
}

.p-button-text.p-button-secondary:not(:disabled):hover {
  background-color: #bdb69257;
  transition: width 0.3s ease-in-out;
}
